.container {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 17rem;
    background-color: var(--bgcolor);
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    button {
        width: 1rem;
        height: 1rem;
    }
    span {
        display: none;
    }
}