.container {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 20rem;
    background-color: var(--bgcolor);
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    position: relative;
    
    width: 1.5rem;
    height: 1.5rem;
    .color_palette {
        width: 1rem;
        height: 1rem;
        box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    }
    .no_color {
        position: relative;
        top: -0.5rem;
        &::before {
            position: absolute;
            left: 50%;
            top: -0rem;
            height: 1rem;
            width: 1px;
            content: '';
            background-color: red;
            transform: rotate(45deg);
        }
    }
    span {
        display: none;
    }
}