.container {
  .menu {
    button {
      position: relative;
      border: none;
      border-radius: 2px;
      background-color: #ffffff;
      padding: 1px 8px;
      margin: 2px;
      font-size: 1rem;
      &:hover .tooltiptext{
        animation-name: tooltip;
        animation-timing-function: ease;
      }
      .tooltiptext {
        visibility: hidden;
        width: 100px;
        height: 1rem;
        font-size: 0.5rem;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        left: -50%;
        bottom: -100%;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        white-space: nowrap;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-duration: 0.8s;
      }
    } 
    button.active {
     color: rgb(0, 195, 255);
    }
   }
  .editor {
    padding: 1rem 1.5rem;
    height: 40rem;
    overflow-y: scroll;
    border: 1px solid #D6D6D6;
    border-radius: 0.25rem;
    img {
      max-width: 100%;
    }
  }
}

@keyframes tooltip {
  0% {
    visibility: hidden;
  }
  79% {
    visibility: hidden;
  }
  80% {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    visibility: visible;
    background-color: #555;
  }
}