.container {
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // border: 1px solid var(--text);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  .title {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 11px 12px 10px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.23px;
    line-height: 17px;
    outline: none;

    font-weight: 400;
    height: 40px;
  }
}

.submit_area {
  width: 100%;
  .submit_button {
    width: 100%;
    padding: 1.25rem 1rem;
    background-color: var(--primary-3);
    color: var(--primary-text);
    font-weight: 700;
    font-size: 1.125rem;
  }
}