.container {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &>* {
    width: 100%;
  }
}

.editor {
  padding: 1rem 1.5rem 1rem 3rem;
  // height: 40rem;
  // overflow-y: scroll;
  border: 1px solid #D6D6D6;
  border-radius: 0.25rem;
  img {
    max-width: 100%;
  }
  &>div {
    font-size: 1.125rem;
    position: relative;
    padding-left: 2rem;
    left: -2rem;
  }
}

.editor_container {
  flex-grow: 1;
  height: fit-content;
  min-height: 100px;
  // padding-bottom: 10rem;
  overflow-y: scroll;
}

.editor_add_block {
  height: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    color: rgba(0, 0, 0, 0.1); // delete
  }

  &:hover,
  &:hover *{
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
  }
}