
.editor {
  padding: 1rem 1.5rem 1rem 3rem;
  height: 40rem;
  overflow-y: scroll;
  border: 1px solid #D6D6D6;
  border-radius: 0.25rem;
  img {
    max-width: 100%;
  }
  &>div {
    font-size: 1.125rem;
    position: relative;
    padding-left: 2rem;
    left: -2rem;
    &::before {
      left: -0.5rem;
      margin: auto;
      padding: 0.5rem;
      position: absolute;
      content: '';
      visibility: hidden;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid black;
      cursor: pointer;
    }
    &:hover {
      &::before {
        visibility: visible;
      }
    }
  }
}

