.item {
  display: flex;
  &:hover .draggable{
    color: rgba(0, 0, 0);
    visibility: visible;
  }
}

.editor {
  width: 100%;
  &:focus {
    outline: 0;
  }
}

.draggable {
  visibility: hidden;
  color: rgba(0, 0, 0, 0);
  transition: 0.2s ease all;
}

.font_1 {
  &, * {
    font-size: 1rem;
  }
}

.font_2 {
  &, * {
    font-size: 1.5rem;
  }
}

.font_3 {
  &, * {
    font-size: 1.75rem;
  }
}

.font_4 {
  &, * {
    font-size: 2rem;
  }
}